body{
    background: #090808;
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
}
nav{
    padding: 1rem;
    width: 100%;
}

ul{
    list-style: none;
    padding: 1vw;
    margin-top: -4rem;
    display: flex;
    margin-left: 60vw;
    gap: 5%;
}


#Logo{
    margin-top: 1rem;
    margin-left: 2rem;
    width: 5%;
    height: 5%;
    flex-shrink: 0;
    border-radius: 4.625rem;
}

#Diego{
    margin-top: -16%;
    margin-bottom: 5%;
    margin-left: 70%;
    width: 16%;
    height: 16%;
    flex-shrink: 0;border-radius: 20.75rem;
}

#Diego:hover{
    box-shadow: rgb(255, 0, 0) 0px 20px 30px ;
    transition: all ease 1s;
}

.menu{
    color: #FFF;
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.menu:hover{
    color: #A80B1A;
    transition: all ease 0.5s
}

#titulo{
    
    margin-left: 6%;
    width: 46%;
    height: 14%;
    margin-top: 10rem;
}

#titulo:hover{
    box-shadow: rgba(240, 46, 46, 0.4) -5px 5px, rgba(240, 46, 46, 0.3) -10px 10px, rgba(240, 46, 46, 0.2) -15px 15px, rgba(240, 46, 46, 0.1) -20px 20px, rgba(240, 46, 46, 0.05)-25px 25px;
    transition: all ease 1s;
}




h1{
    color: #FFF;
    font-family: Poppins;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
   
}

hr{
    width: 100%;
    border:2px solid #A80B1A ;
    box-shadow: rgba(255, 0, 0, 0.35) 0px 10px 25px;
}

h2{

    color: #FFF;
    font-family: Poppins;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

h3{
   
    color: #FFF;
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

main{
    padding: 2rem;
}
#Sobre{
    font-size: 3.5vw;
    text-align: center;
    margin-top: 10rem;
}

#Sobremim{
    padding: 2%;
    display: flex;
    margin-left: 12%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    width: 70%;
    height: 40%;
    flex-shrink: 0;
    border-radius: 2.5rem;
    border: 1px solid #E01818;
    max-width: calc(100% - 4rem);
}

#Sobremim:hover{
    box-shadow: rgba(255, 0, 0, 0.807) 0px 5px 15px;
    transition: all ease 0.5s;
}

#MinhasFormacoes{
    font-size: 3.5vw;
    text-align: center;
    margin-top: 10rem;
}


#Formação{
    padding: 2%;
    align-items: center;
    display: flex;
    margin-left: 12%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: 20%;
    flex-shrink: 0;
    border-radius: 2.5rem;
    border: 1px solid #E01818;
    color: #FFF;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
    margin-bottom:10rem;
    box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
    max-width: calc(100% - 4rem);
}

#Formação:hover{
    box-shadow: rgba(255, 0, 0, 0.807) 0px 5px 15px;
    transition: all ease 0.5s;
}

#logofooter{
    margin-top: 2rem;
    width: 29%;
    height: 29%;
    flex-shrink: 0;
    border-radius: 29.4375rem;
    margin-left: 2rem;

}

#git{
    margin-bottom: -7%;
    margin-left: -10%;
    height: 5%;
    width: 5%;
}


#link{
    margin-bottom: -7%;
    margin-left: -22%;
    height: 5%;
    width: 5%;
 
    
    
}

#Contato{
    padding: 2rem;
    margin-left: 50%;
    margin-bottom: 10%;
    margin-top: -25%;
    width: 35%;
    height: 28%;
    flex-shrink: 0;
    border-radius: 2.5rem;
    border: 4px solid #000;


}#e-mail{
    margin-left:3rem ;
    color: #FFF;
    font-family: Poppins;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#coment{
    margin-left:3rem ;
    margin-top: 5rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#email{
    margin-top: 1rem;
    width: 20vw;
    height: 3vh;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
}


#comentario{
    margin-left: 3rem;
     width: 25vw;
    height: 20vh;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
}

#enviar{
    cursor: pointer;
    margin-top: 6%;
    margin-left: 60%;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-shrink: 0;
    width: 22%;
    height: 20%;
     flex-shrink: 0;
    border-radius: 0.625rem;
    background: #000;
}


footer{
    height: 43%;
    width: 100%;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    border: 2px solid #F00;
    background: #720f19;
    bottom: 0;

}


